.clr {
 clear: both
}
#hover_div {
 background-color: #fff; color: #666; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-weight:400; font-style:normal;
}
.hoverinfo .hover_left {
 float: left
}
.hoverinfo .product_image_wrapper {
 color: #999; font-size: 6px; font-weight: normal; min-height: 98px; min-width: 98px;
}
.hoverinfo .product_image_wrapper a {
 color: #999; font-size: 6px; font-weight: normal;
}
a * {
 cursor: pointer
}
a {
 color: #09f; font-weight: bold;
}
a:link, a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}
.hoverinfo .hover_right {
 float: left; margin-left: 15px; max-width: 395px;
}
.hoverinfo .product_title {
 color: #333; font-family: georgia,serif; font-size: 24px; line-height: 26px; margin-bottom: 10px;
}
.hoverinfo .product_title  a {
  color:#333; font-family: georgia,serif; font-size: 24px;
}
.hoverinfo .summary_detail.publisher, .hoverinfo .summary_detail.release_data {
 float: left
}
.hoverinfo .summary_detail {
 font-size: 11px; margin-bottom: 10px;
}
.hoverinfo .summary_detail.product_credits a {
 color: #999; font-weight: normal; 
}
.hoverinfo .hr {
 background-color: #ccc; height: 2px; margin: 15px 0 10px;
}
.hoverinfo .hover_scores {
 width: 100%; border-collapse: collapse; border-spacing: 0;
}
.hoverinfo .hover_scores td.num {
 width: 39px
}
.hoverinfo .hover_scores td {
 vertical-align: middle
}
caption, th, td {
 font-weight: normal; text-align: left;
}
.metascore_anchor, a.metascore_w {
 text-decoration: none !important
}
span.metascore_w, a.metascore_w {
 display: inline-block
}
.metascore_w {
 background-color: transparent; color: #fff !important; font-family: Arial,Helvetica,sans-serif; font-size: 17px; font-style: normal !important; font-weight: bold !important; height: 2em; line-height: 2em; text-align: center; vertical-align: middle; width: 2em;
}
.metascore, .metascore a, .avguserscore, .avguserscore a {
 color: #fff
}
.critscore, .critscore a, .userscore, .userscore a {
 color: #333
}
.score_tbd {
 background: #eaeaea; color: #333; font-size: 14px;
}
.score_tbd a {
 color: #333
}
.negative, .score_terrible, .score_unfavorable, .carousel_set a.product_terrible:hover, .carousel_set a.product_unfavorable:hover {
 background-color: #f00
}
.mixed, .neutral, .score_mixed, .carousel_set a.product_mixed:hover {
 background-color: #fc3; color: #333;
}
.score_mixed a {
 color: #333
}
.positive, .score_favorable, .score_outstanding, .carousel_set a.product_favorable:hover, .carousel_set a.product_outstanding:hover {
 background-color: #6c3
}
.critscore_terrible, .critscore_unfavorable {
 border-color: #f00
}
.critscore_mixed {
 border-color: #fc3
}
.critscore_favorable, .critscore_outstanding {
 border-color: #6c3
}
.metascore .score_total, .userscore .score_total {
 display: none; visibility: hidden;
}
.hoverinfo .metascore_label, .hoverinfo .userscore_label {
 font-size: 12px; font-weight: bold; line-height: 16px; margin-top: 2%;
}
.hoverinfo .metascore_review_count, .hoverinfo .userscore_review_count {
 font-size: 11px
}
.hoverinfo .hover_scores td {
 vertical-align: middle
}
.hoverinfo .hover_scores td.num {
 width: 39px
}
.hoverinfo .hover_scores td.usr.num {
 padding-left: 20px
}
.metascore_anchor, a.metascore_w {
 text-decoration: none !important
}
.metascore_w.user {
 border-radius: 55%; color: #fff;
}
.metascore_anchor, a.metascore_w {
 text-decoration: none!important
}
.metascore_anchor:hover {
 text-decoration: none!important
}
.metascore_w:hover {
 text-decoration: none!important
}
span.metascore_w, a.metascore_w {
 display: inline-block
}
.metascore_w.xlarge, .metascore_w.xl {
 font-size: 42px
}
.metascore_w.large, .metascore_w.lrg {
 font-size: 25px
}
.m .metascore_w.medium, .m .metascore_w.med {
 font-size: 19px
}
.metascore_w.med_small {
 font-size: 14px
}
.metascore_w.small, .metascore_w.sm {
 font-size: 12px
}
.metascore_w.tiny {
 height: 1.9em; font-size: 11px; line-height: 1.9em;
}
.metascore_w.user {
 border-radius: 55%; color: #fff;
}
.metascore_w.user.small, .metascore_w.user.sm {
 font-size: 11px
}
.metascore_w.tbd, .metascore_w.score_tbd {
 color: #000!important; background-color: #ccc;
}
.metascore_w.tbd.hide_tbd, .metascore_w.score_tbd.hide_tbd {
 visibility: hidden
}
.metascore_w.tbd.no_tbd, .metascore_w.score_tbd.no_tbd {
 display: none
}
.metascore_w.noscore::before, .metascore_w.score_noscore::before {
 content: '\2022\2022\2022'
}
.metascore_w.noscore, .metascore_w.score_noscore {
 color: #fff!important; background-color: #ccc;
}
.metascore_w.rip, .metascore_w.score_rip {
 border-radius: 4px; color: #fff!important; background-color: #999;
}
.metascore_w.negative, .metascore_w.score_terrible, .metascore_w.score_unfavorable {
 background-color: #f00
}
.metascore_w.mixed, .metascore_w.forty, .metascore_w.game.fifty, .metascore_w.score_mixed {
 background-color: #fc3
}
.metascore_w.positive, .metascore_w.sixtyone, .metascore_w.game.seventyfive, .metascore_w.score_favorable, .metascore_w.score_outstanding {
 background-color: #6c3
}
.metascore_w.indiv {
 height: 1.9em; width: 1.9em; font-size: 15px; line-height: 1.9em;
}
.metascore_w.indiv.large, .metascore_w.indiv.lrg {
 font-size: 24px
}
.m .metascore_w.indiv.medium, .m .metascore_w.indiv.med {
 font-size: 16px
}
.metascore_w.indiv.small, .metascore_w.indiv.sm {
 font-size: 11px
}
.metascore_w.indiv.perfect {
 padding-right: 1px
}
.promo_amazon .esite_btn {
 margin: 3px 0 0 7px;
}
.esite_amazon {
 background-color: #fdc354; border: 1px solid #aaa;
}
.esite_label_wrapper {
 display:none;
}
.esite_btn {
 border-radius: 4px; color: #222; font-size: 12px; height: 40px; line-height: 40px; width: 120px;
}